/* Allgemeine Anpassungen für die Seite */
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

/* Anpassungen für das Dokumentenhochladeformular */
.custom-file-label::after {
    content: "Datei auswählen";
}

/* Anpassungen für die Popup-Anzeige */
.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    max-width: 400px;
}
