/* Allgemeine Anpassungen für die Seite */
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

/* Anpassungen für das Dokumentenhochladeformular */
.custom-file-label::after {
    content: "Datei auswählen";
}

/* Anpassungen für die Popup-Anzeige */
.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    max-width: 400px;
}

/* Anpassung für Dokumentanzeige */
.doc {
    border: 2px solid #000; /* Set border properties as needed */
    padding: 10px; /* Optional: Add padding to create space between text and border */
}

/* Anpassung für Buttons */
.buttons-container {
    display: flex;
}

.buttons-container button {
    margin-left: 10px;
}
